"""" Misc
set backspace=indent,eol,start

set hlsearch
set noincsearch

set visualbell

set history=200
set showcmd

set number

"""" IdeaVim
if &ide =~? 'clion'
    let ide = 'clion'
elseif &ide =~? 'rider'
    let ide = 'rider'
else
    let ide = 'unknown'
endif

nmap <leader>rl :source ~/.ideavimrc<CR>
nmap <leader>pi :echo &ide ide<CR>

nmap <leader>cp <Action>(CopyAbsolutePath)
nmap <leader>cr <Action>(CopyReference)

nmap <leader>rn <Action>(RenameElement)

nmap <leader>gr <Action>(FindUsages)
nmap <leader>gf <Action>(GotoSuperMethod)
nmap <leader>gt <Action>(GotoImplementation)

"if ide == 'clion'
    "nmap <leader>gh <Action>(CIDR.Lang.SwitchHeaderSource)
"else
    nmap <leader>gh <Action>(SwitchHeaderSource)
"endif

nmap gd <Action>(GotoDeclaration)

nmap [g <Action>(GotoPrevErrorInSolution)
nmap ]g <Action>(GotoNextErrorInSolution)
