"""" Misc
set backspace=indent,eol,start

set hlsearch
set noincsearch

set visualbell

set history=200
set showcmd

set number

"""" IdeaVim
nmap <leader>rl :source ~/.ideavimrc<CR>

nmap <leader>cp :action CopyAbsolutePath<CR>
nmap <leader>cr :action CopyReference<CR>

nmap <leader>rn :action RenameElement<CR>

nmap <leader>gr :action FindUsages<CR>
nmap <leader>gf :action GotoSuperMethod<CR>
nmap <leader>gt :action GotoImplementation<CR>
nmap <leader>gh :action SwitchHeaderSource<CR>

nmap gd :action GotoDeclaration<CR>

nmap [g :action GotoPrevErrorInSolution<CR>
nmap ]g :action GotoNextErrorInSolution<CR>
